.radio {
  width: 550px;
  height: 500px;
  background: #2C2C32;
  border-radius: 60px;
  position: relative;
  font-family: "Anton", sans-serif;
}

.radio_button {
  width: 10px;
  height: 90px;
  background: linear-gradient(90deg, #dc6837 0%, #a74318 100%);
  position: absolute;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  left: -10px;
  top: 80px;
}

.radio button {
  font-family: "Anton", sans-serif;
}

.radio_console {
  height: 70%;
  width: 100%;
  border-bottom: 1px solid #1d1e20;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.radio_console_display {
  width: 100%;
  height: 70%;
  background: #212121;
  border-radius: 40px;
  display: flex;
  align-items: center;
  position: relative;
}

.radio_console_display_bar {
  display: flex;
  justify-content: space-between;
  color: #4a4b50;
  position: absolute;
  align-items: center;
  top: 0;
  left: 30px;
  right: 30px;
}

.radio_console_display_wave {
  width: 100%;
}

:global(.cursor) {
  background-color: orange!important;
}

.radio_console_buttons {

  display: flex;
  gap: 20px;
  justify-content: space-between;

  ---nb-width: 90px;
  ---nb-height: 90px;
  ---nb-radius: 9px;
  ---nb-border: 2px solid #201d21;
  ---nb-background: #515156;
  ---nb-color: #8c8d94;
}

.radio_console_buttons_play {
  ---nb-background: #9a9a9f;
  ---nb-color: #1b1214;
}

.radio_console_buttons_rec {
  ---nb-background: #dc6837;
  ---nb-color: #1b1214;
}

.radio_speakers {
  width: 100%;
  height: 30%;
  border-top: 1px solid #363738;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.radio_speakers_hole {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #181819;
  box-shadow: 0px 2px 1px 1px rgba(255, 255, 255, 0.1);
}