.neumorphicButton {

  --nb-width: 110px;
  --nb-height: 130px;
  --nb-radius: 18px;

  width: var(--nb-width);
  height: var(--nb-height);
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  
  cursor: pointer;
  outline: none;
  border: none;

  border-radius: var(--nb-radius);
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;

  background: #5c5c5c;
  transition: box-shadow 0.3s ease-out;

  box-shadow:
    25px 50px 50px 10px rgba(0,0,0,0.4) inset,
    -1px -1px 1px 1px rgba(255,255,255,0.1) inset,
    -4px -4px 12px -5px rgba(255,255,255,0.7) inset;

}

:not(.neumorphicButton_on).neumorphicButton:hover {
  box-shadow:
    50px 75px 50px 10px rgba(0,0,0,0.5) inset,
    -1px -1px 1px 1px rgba(255,255,255,0.1) inset,
    -4px -4px 12px -5px rgba(255,255,255,0.1) inset;
}

.neumorphicButton_on {
  box-shadow:
    10px 10px 20px 3px rgba(0,0,0,0.4) inset,
    50px 50px 80px 10px rgba(0,0,0,0.6) inset,
    -1px -1px 10px 3px rgba(0,0,0,0.6) inset,
    -4px -4px 12px -5px rgba(0, 0, 0, 0.1) inset;
}

.neumorphicButton_icon {
  
  font-size: 2.5em;
  color: #efefef;

  filter: 
    drop-shadow(-4px -4px 8px rgba(0, 0, 0, 0.9))
    drop-shadow(4px 4px 8px rgba(255, 255, 255, 0.5));

}

.neumorphicButton_led {

  width: 5px;
  height: 5px;
  position: absolute;
  bottom: 20px;

  border-radius: 50px;  
  box-shadow: 
    -2px -2px 4px rgba(0, 0, 0, 0.4),
     2px  2px 4px rgba(255, 255, 255, 0.3);

}

.neumorphicButton_on .neumorphicButton_led {
  background: #f2f207;
  box-shadow: 
    0 0 4px 3px rgba(242, 242, 12, 0.4),
    -2px -2px 4px rgba(0, 0, 0, 0.4),
     2px  2px 4px rgba(255, 255, 255, 0.3);
  animation: flicker 6s infinite
}

.neumorphicButton_off .neumorphicButton_led {
  background: #000000;
  background: 
    linear-gradient(
      131deg,rgba(0, 0, 0, 0.5) 0%, 
     rgba(0, 0, 0, 0.3) 100%
    );
}

@keyframes flicker {
  0%, 100% { 
    opacity: 1; 
    box-shadow: 
      0 0 4px 3px rgba(242,242,12,0.4), 
      -2px -2px 4px rgba(0,0,0,0.4), 
      2px 2px 4px rgba(255,255,255,0.3); 
  }
  20% { 
    opacity: 0.8; 
    box-shadow: 
      0 0 2px 1px rgba(242,242,12,0.3), 
      -1px -1px 3px rgba(0,0,0,0.3), 
      1px 1px 3px rgba(255,255,255,0.2); 
  }
  40% { 
      opacity: 0.9; 
      box-shadow: 
        0 0 3px 2px rgba(242,242,12,0.35), 
        -1px -1px 4px rgba(0,0,0,0.35), 
        1px 1px 4px rgba(255,255,255,0.25); 
  }
  60% { 
    opacity: 0.7; 
    box-shadow: 
      0 0 1px 0 rgba(242,242,12,0.2), 
      -1px -1px 2px rgba(0,0,0,0.2), 
      1px 1px 2px rgba(255,255,255,0.15); 
  }
  80% { 
    opacity: 1; 
    box-shadow: 
      0 0 4px 3px rgba(242,242,12,0.4), 
      -2px -2px 4px rgba(0,0,0,0.4), 
      2px 2px 4px rgba(255,255,255,0.3); 
  }
}
